:root {
  --light-color: #f5f5f7;
  --dark-color: #221f20;

  --container-padding: 13%;
  --footer-padding: 10%;
}

/* NORMALIZE */
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}


/* GENERAL */

body {
  font-family: "Inter", sans-serif;
  color: var(--dark-color);
  background-color: var(--light-color);
}

.container {
  padding: 0 var(--container-padding);
}

h1 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 60px;

  margin-bottom: 124px;
}


/* HERO */

.hero {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 75px;
  background: #000 url('./img/main_bg.jpg') center / cover no-repeat;

  color: var(--light-color);
}

.hero-container {
  position: relative;
}

.hero-description {
  font-size: 32px;
  font-weight: 100;
  margin-bottom: 20px;  
}

address {
  position: relative;
  font-style: normal;
  font-weight: 100;

  &::before {
    position: absolute;
    content: '';

    width: 40px;
    height: 49px;
    background-image: url('./img/icons/arrow.svg');
    left: -45px;
    top: -18px;
  }
}

/* .arrow-img {
  position: absolute;
  top: 372px;
  left: calc(13% - 45px);
} */

.portpholio-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 160px;
  min-height: 38px;
  padding: 0 10px;  
  margin-bottom: 100px;

  font-weight: 100;

  border: 1px solid var(--light-color);
  background: transparent;
}

.promo-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 38px;

  font-size: 10px;

  height: 20px;
  margin-top: auto;
  background: linear-gradient(
        180deg, 
      rgba(255, 255, 255, 0.04) 0%, 
      rgba(255, 255, 255, 0.12) 50%, 
      rgba(255, 255, 255, 0.2) 100%);
}


/* ABOUT */

.about {
  padding: 80px 0;  
  color: var(--dark-color);
}

.about-title {
  font-style: italic;   
  font-size: 12px;
  
}

.about-txt {
  font-size: 40px;
  margin-bottom: 80px;
  max-width: 1100px;

  span {
    color: #a5a5a5;
  }
}

.services {
  display: flex;
  column-gap: 30px;
}

.about-services {
  width: 50%;

  h3 {
    font-style: italic;
    font-weight: 400;
    font-size: 16px;

    margin-bottom: 20px;
  }
}

.about-item {

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &:first-child,
  &:last-child {
    position: relative;
  }

  &:first-child::before,
  &:last-child::before {
    position: absolute;
    content: "";

    width: 15px;
    height: 15px;

    margin-left: -30px;
    margin-top: 3px; 
  }

    &:first-child::before {
      background-image: url('./img/icons/camera.svg');
    }

    &:last-child::before {
      background-image: url('./img/icons/edit.svg');
    }

}

.services-description {
  font-size: 20px;
  letter-spacing: 0.02em;

  max-width: 50%;
}