:root {
  --light-color: #f5f5f7;
  --dark-color: #221f20;

  --container-padding: 13%;
  --footer-padding: 10%;
}

/* NORMALIZE */
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}


/* GENERAL */

body {
  font-family: "Inter", sans-serif;
  color: var(--dark-color);
}

.container {
  padding: 0 var(--container-padding);
}

p,
a,
ul,
address {
  font-weight: 100;
}

h1 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 60px;

  margin-bottom: 124px;
}


/* HERO */

.hero {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 75px;
  background: #000 url('./img/main_bg.jpg') center / cover no-repeat;

  color: var(--light-color);
}

.hero-container {
  position: relative;
}

.hero-description {
  font-size: 32px;
  margin-bottom: 20px;
}

.arrow-img {
  position: absolute;
  top: 372px;
  left: calc(13% - 45px);
}

.portpholio-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 160px;
  height: 38px;
  margin-bottom: 100px;

  border: 1px solid var(--light-color);
}

.promo-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 38px;

  font-size: 10px;

  height: 20px;
  margin-top: auto;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.12) 50%, rgba(255, 255, 255, 0.2) 100%);
}