:root {
  --light-color: #f5f5f7;
  --dark-color: #221f20;

  --container-padding: 13%;
  --footer-padding: 10%;
}

/* NORMALIZE */
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  width: 100%;
  /* height: auto; */
}

::selection {
  background-color: #cacaca;
}


/* GENERAL */

body {
  font-family: "Inter", sans-serif;
  color: var(--dark-color);
  background-color: var(--light-color);
}

.container {
  padding: 0 var(--container-padding);
}

h1 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 60px;

  margin-bottom: 124px;
}


/* HERO */

.hero {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 75px;
  background: #000 url('./img/main_bg.jpg') center / cover no-repeat;

  color: var(--light-color);
}

.hero-container {
  position: relative;
}

.hero-description {
  font-size: 32px;
  font-weight: 100;
  margin-bottom: 20px;
}

.header-address {
  position: relative;
  font-style: normal;
  font-weight: 100;

  &::before {
    position: absolute;
    content: '';

    width: 40px;
    height: 49px;
    background-image: url('./img/icons/arrow.svg');
    left: -45px;
    top: -18px;
  }
}

.portpholio-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 160px;
  min-height: 38px;
  padding: 0 10px;
  margin-bottom: 100px;

  font-weight: 100;

  border: 1px solid var(--light-color);
  background: transparent;
  transition: all ease-out .3s;

  &:hover {
    font-weight: 500;
    box-shadow: 5px 5px 10px 0 rgba(255, 255, 255, 0.62);
  }
}

.promo-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 38px;

  font-size: 10px;

  height: 20px;
  margin-top: auto;
  background: linear-gradient(180deg,
      rgba(255, 255, 255, 0.04) 0%,
      rgba(255, 255, 255, 0.12) 50%,
      rgba(255, 255, 255, 0.2) 100%);
}


/* ABOUT */

.about {
  padding: 80px 0;
  color: var(--dark-color);
}

.about-title {
  font-style: italic;
  font-size: 12px;

}

.about-txt {
  font-size: 40px;
  margin-bottom: 80px;
  max-width: 1100px;

  span {
    color: #a5a5a5;
  }
}

.services {
  display: flex;
  column-gap: 30px;
}

.about-services {
  width: 50%;

  h3 {
    font-style: italic;
    font-weight: 400;
    font-size: 16px;

    margin-bottom: 20px;
  }
}

.about-item {

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &:first-child,
  &:last-child {
    position: relative;
  }

  &:first-child::before,
  &:last-child::before {
    position: absolute;
    content: "";

    width: 15px;
    height: 15px;

    margin-left: -30px;
    margin-top: 3px;
  }

  &:first-child::before {
    background-image: url('./img/icons/camera.svg');
  }

  &:last-child::before {
    background-image: url('./img/icons/edit.svg');
  }

}

.services-description {
  font-size: 20px;
  letter-spacing: 0.02em;

  max-width: 50%;
}


/* PORTFOLIO */

.header-container {
  text-align: center;
}

.section-header {
  display: inline-block;
  font-size: 40px;
  font-weight: 400;
  position: relative;
  margin-bottom: 53px;

  &::after {
    position: absolute;
    content: '';
    height: 2px;
    width: 75px;
    background-color: var(--dark-color);
    bottom: -1px;
    right: 0;
  }
}

.portfolio-photoes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px 30px;

  margin-bottom: 80px;
}

.img-shadow {
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
}


/* INSPIRATION */

.inspiration {
  margin-bottom: 80px;
}

.inspiration-photoes {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.inspiration-img {
  height: 100%;

  &:nth-child(4) {
    grid-column: 4;
    grid-row: 1 / 3;
  }

  &:nth-child(6) {
    grid-column: 2 / 4;
  }
}


/* CUSTOMERS */

.customers {
  margin-bottom: 100px;
}

.customers-list {
  display: flex;
  gap: 30px;
}

.customer-item {
  /* max-height: 250px; */
  width: calc((100% - 90px) / 4);
} 


/* FOOTER */

footer {
  background-color: #000;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 84px var(--footer-padding);
}

.social-list {
  display: flex;
  column-gap: 30px;
}

.social-item {
  width: 32px;
  height: 32px;

  border: 1px solid var(--light-color);

  a {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    width: 22px;
    height: 22px;
  }  
}

.footer-adress {
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: var(--light-color);
}

